<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="assets/fav_icon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/pico.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/w3.css}">
    <meta codigoSecreto="2752647763715050000">

    <title>Listas w3-pale-blue</title>
</head>

<body>
    <div th:insert="~{components/navegador :: nav}"></div>

    <main>
        <table>
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome completo</th>
                <th scope="col">e-Mail</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Gênero</th>
                <th scope="col">Editar</th>
                <th scope="col">Remover</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="p : ${pessoas}">
                <th scope="row" th:text = "${p.id}">1</th>
                <td th:text = "${p.nome}">Josevaldo da silva</td>
                <td><a th:href="'mailto:' + ${p.email}" th:text="${p.email}">josev@gmail.com</a></td>
                <td th:text = "${p.data_nascimento}">12/09/2012</td>
                <td th:text = "${p.genero}">Masculino</td>
                <td><a th:href="@{/editar/{id}(id=${p.id})}">Editar</a></td>
                <td><a th:href="@{/remover/{id}(id=${p.id})}">Remover</a></td>
              </tr>
            </tbody>
          </table>
    </main>
</body>

</html>