<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="assets/fav_icon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/pico.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/w3.css}">
    <meta codigoSecreto="2752647763715050000">

    <title>Listas w3-pale-blue</title>
</head>

<body>
    <div th:insert="~{components/navegador :: nav}"></div>

    <main>
        <table>
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome completo</th>
                <th scope="col">e-Mail</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Gênero</th>
                <th scope="col">Editar</th>
                <th scope="col">Remover</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Josevaldo da silva</td>
                <td><a href="mailto:josev@gmail.com">josev@gmail.com</a></td>
                <td>12/09/2012</td>
                <td>Masculino</td>
                <td><a href="/editar/1">Editar</a></td>
                <td><a href="/remover/1">Remover</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Kleber da Silva</td>
                <td><a href="mailto:klebSilva@gmail.com">klebSilva@gmail.com</a></td>
                <td>12/01/2002</td>
                <td>Masculine</td>
                <td><a href="/editar/2">Editar</a></td>
                <td><a href="/remover/2">Remover</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Alice Costa</td>
                <td><a href="mailto:emalista@gmail.com">emalista@gmail.com</a></td>
                <td>06/04/1990</td>
                <td>Feminino</td>
                <td><a href="/editar/3">Editar</a></td>
                <td><a href="/remover/3">Remover</a></td>
              </tr>
            </tbody>
          </table>
    </main>
</body>

</html>