<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/materialize.css}">
    <script th:src="@{/js/materialize.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Edição de Pedido</title>
</head>

<body>
    <div th:insert="~{componentes/navegador :: nav}"></div>
    <main class="container" style="padding-top: 20px;">
        <form th:action="@{/pedidos/{id}/atualizar(id=${pedido.id})}" method="post" th:object="${pedido}">
            <input type="hidden" name="" th:field="*{id}">
            
            <input list="metodosPagamento" id="metodoPagamento" name="metodoPagamento" required>
            <datalist id="metodosPagamento">
                <option th:each="metodo : ${metodosPagamento}" th:value="${metodo}"
                    th:text="${#strings.capitalize(#strings.toLowerCase(metodo.name()))}">
                </option>
            </datalist>
            <label for="metodosPagamento">Tipo de Pagamento</label>
            
            <input list="clientes" id="clienteId" name="clienteId" required>
            <datalist id="clientes">
                <option th:each="cliente : ${clientes}" th:value="${cliente}"
                    th:text="${'Cliente Id: '+ cliente}">
                </option>
            </datalist>
            <label for="clientesId">Cliente</label>
            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light">Atualizar Pedido</button>
                </div>
            </div>
        </form>
        

    </main>

</body>

</html>