<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/materialize.css}">
    <script th:src="@{/js/materialize}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Lista de Clientes</title>
</head>

<body>
    <div th:insert="~{componentes/navegador :: nav}"></div>

    <main class="container">
        <h1 class="red-text text-darken-2 center-align">
            <i class="material-icons">error</i>
            <span th:text="${erro}">Erro</span>
        </h1>
        
    </main>

</body>

</html>