<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/materialize.css}">
    <script th:src="@{/js/materialize.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Form Produtos</title>
</head>

<body>
    <div th:insert="~{componentes/navegador :: nav}"></div>
    <main class="container" style="padding-top: 20px;">
        <form th:action="@{/produtos/salvar}" method="post" th:object="${produto}" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="nome" name="produto" th:field="*{nome}" required>
                    <label for="nome">Nome</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" id="marca" name="marca" th:field="*{marca}" required>
                    <label for="marca">Marca</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="number" id="precoCompra" name="precoCompra" th:field="*{precoCompra}" required>
                    <label for="precoCompra">Preço de Compra</label>
                </div>
                <div class="input-field col s6">
                    <input type="number" id="precoVenda" name="precoVenda" th:field="*{precoVenda}" required>
                    <label for="precoVenda">Preço de Venda</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">

                    <input list="tiposTecido" id="tipoTecido" name="tipoTecido" th:field="*{tipoTecido}" required>
                    <datalist id="tiposTecido">
                        <option th:each="tecido : ${tecidos}" th:value="${tecido}"
                            th:text="${#strings.capitalize(#strings.toLowerCase(tecido.name()))}">
                        </option>
                    </datalist>
                    <label for="tipoTecido">Tipo de Tecido</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Salvar</button>
                    <button class="btn waves-effect waves-light" type="reset" name="action">Limpar</button>
                </div>
            </div>
        </form>

    </main>

</body>

</html>